.videoContent{
  width: 100%;

  
  background: radial-gradient(circle, rgb(251, 251, 251) 0%, rgba(234,242,245,1) 100%);
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto ;
  .videoContentSubtitle{
    color: #050505;
    font-size: 16px;
    text-align: center;
    margin-top: 25px;

  }
  @media screen and (max-width: 768px){
    .videoContentSubtitle{
      font-size: 12px;
      br{
        display: none;
       
      }
    }
  }
}
