@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #F12525; 
  --secondary-color: #EAF2F5; 
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/font/Gilroy-Regular.ttf') format('ttf'),
  url('/assets/font/Gilroy-Light.tff') format('ttf');
      
  font-weight: normal;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: #F12525;
  border-radius: 10px;
}
 
::-webkit-scrollbar-track {
  background-color: lightgrey;
}
html{
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  // border: 1px solid black;
  color: var(--foreground);
  
  // font-family: '--font-roboto' !important;
}
