.training{
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
  height: fit-content;
  z-index: 1;
  background-color: #fff;
  border-radius: 0 0 20px 20px !important;

  .training__wrapper{
    width: 60%;
  
    display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        grid-gap: 27px;
        gap: 27px;
        margin: auto;
    margin-top: 25px;
    
    .training__item{
      position: relative;
      width: 270px;
      height: 254px;
      background: #EAF2F5; 
      border-radius: 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      z-index: 3;
      img{
        transition: 0.1s ease-in-out;
      }
      &::before{
        content: "";
        width: 100%;
        height: 1px;
        background: #50C0FF;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
        transition: .3s ease-in;
        border-radius: 30px;
        z-index: -1;
      }
      &:hover::before{
        visibility: visible;
        height: 100%;
        cursor: pointer;
        
      }
      &:hover{
        .shake{
        
       
            // animation: shaking 1s linear 1;
        
             
              animation: shaking 0.5s linear 1;
        
        
        }
        .rotate{
          animation: rotate 0.5s linear 1;
        }
        .fullRotate{
          animation: fullRotate 0.3s linear 1;
        }

        .test{
          animation: skew 0.5s linear 1;
        }
        h2{
          color: white;
        }
        p{
          color: white;
        }

      }

    
      h2{
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
        white-space: pre-line;

      }
      p{
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
        white-space: pre-line;
      }
     

     
    }

  }
}


@keyframes shaking {
  0%{
    transform: rotate(0deg);
  }25%{
    transform: rotate(20deg);
  }
50%{
  transform: rotate(-20deg);
}
75%{
  transform: rotate(10deg);
}
100%{
  transform: rotate(-10deg);

}

  
}

@keyframes rotate {
  0% {
  transform: rotate(0deg);
  }100%{
    transform: rotate(180deg);
  }
}
@keyframes fullRotate {
  0% {
  transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}

@keyframes skew {
  0% {
    transform: scale(0);
  }100%{
    transform: scale(1.1);
  }
}