.course{
  width: 80%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  .course__wrapper{
    display: flex;
    // position: relative;
    justify-content: right;
    width: 100%;
    height: 400px;
    padding-left: 50px;
    border-radius: 48px;
    margin-top: 25px;
    background: url('../../../public/assets/course.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: 150px;
    background-color: var(--secondary-color);
    .course__items{
      width: 50%;
     
      height: 148px;
      padding-top: 80px;

      .test{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        .course__item{
          // margin: 0 auto;
       
          width: fit-content;
          height: fit-content;
          padding: 15px;
          // background: #5096FF;
          border-radius: 44px;
          color: white;
  
          &:nth-child(2){
            background: #FFB359;
          }
          &:nth-child(3){
            background: #4BD071;
          }
          &:nth-child(4){
  
              background: #50C0FF;
        }
        &:nth-child(5){ 
          background: #4B77B9;
          margin: 0 auto;
        }
   
      }
      }
   
    .course__btn{
      // display: block !important;
      width: 282px;
      margin-left: 50% !important;
      transform: translate(-50%) !important;
      height: 58px;
      line-height: 20px;
      font-size: 20px;
      margin-top: 25px;
      align-self: flex-end;
      img{
        margin-left: 5px;
      }
    }
    }
  }
  @media screen and (max-width: 1510px){
    .course__wrapper{
      background-size: 30%;
      background-position: 70px;
      .course__items{
        width: 70%;
      }

    }
  }
  @media screen and (max-width: 1110px){
    .course__wrapper{
     background-image: none;
     padding: 17px;
     height: fit-content;
     .course__items{
      padding-top: 0px;
   width: 100%;
   height: fit-content;
   
          .test{
            display: flex;
            flex-flow: row wrap;
            grid-gap: 10px;
            gap: 8px;
            margin: 0;
            padding: 0;
            list-style: none;
            padding-left: 0px;
            .course__item{
              flex: 1 1 auto;
            }

          }
     }
    }
  }
  @media screen and (max-width: 768px){
    .course__wrapper{
      .course__items{
        .test{
          display: block;
          .course__item{
            width: 100%;
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}