.instruction{
  width: 80%;
  min-height: 218px;
  background: #EAF2F5;
  margin: auto;
  display: flex;
  align-items: center;
 justify-content: center;
 gap: 50px;
 padding-left: 25px;
 padding-right: 25px;
  border-radius: 30px;
  .instruction__btn{
    width: 321px;
    height: 70px;
  }

  @media screen and (max-width: 900px){
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
      br{
        display: none;
      }
    }
    .instruction__btn{
      width: 257px;

    }

  }
}