.header{
  width: 100%; 
  height: 80px;
  margin: 0 auto;

 position: absolute;
 top: 0;
 left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .header__wrapper{
    margin: auto;
    margin-top: 15px;
    width: 80%;
    height: 80px;
    background: white;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    

  }

  .header__left{
    display: flex;
    align-items: center;
    img{
      width: 100px;
      height: 100px;
      margin-top: 5px;
    }
  }
  .header__center{
    ul{
      display: flex;
      align-items: center;
      gap: 50px;
      a{
        font-size: 16px;
        font-weight: 400;
        color: #22253B;
        transition: 0.3s ease-in;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 75px;
        &:hover{
       
          color:var(--primary-color);
        }
      }
    
    }

  }
  .header__socials{ 
    display: flex;
    

    gap: 15px;
    .header__socials-item{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .header__socials-item{
        width: 35px;
        height: 35px;
        background: var(--primary-color); 
        border-radius: 50%;
        img{
          width: 18px;
          height: 18px;
         
        }
        &:nth-child(2){
          img{
            width: 8px;
            height: 15px;
          }
        }
        &:nth-child(3){
          img{
            width: 20px;
            height: 14px;
          }
       
        }
    }
  }
  .header__right{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #3C3E50;
    .header__btn{
      padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  background: var(--primary-color);
  gap: 5px;
  border-radius: 34px;
  font-weight: 500;
  color: #ffff;
      
    }
  }

  @media screen and (max-width: 1110px){

    z-index: 50;
    .header__wrapper{
      width: 90%;
      height: 60px;
    }
    .header__socials{
      display: none;
    }
    .header__left{
      img{
        width: 71px;
        height: 71px;
      }
    }
    .header__right{
      .header__btn{
        display: none;
      }
    }
    .header__center{
      display: none;
    }
  }
  
}