.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;  
  display: none;

}

/* Стиль для самой модалки */
.modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; /* Модалка выше фона */
}

/* Кнопка для закрытия */
.close-btn {
  position: absolute;
  right: 0;
  
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.active{
  display: flex;
  
  // transform: translateY(0%);
}